<ion-header class="ion-no-border">
</ion-header>

<ion-content>
  <div class="login-section ion-padding">
     <div class="heading ion-padding">
       <h1>Registrate</h1>
     </div>

      <div class="login-form ion-padding">
         <div class="form-input">
            <ion-icon name="person"></ion-icon>   
            <ion-item fill="outline">
              <ion-label position="floating">Nombres</ion-label>
              <ion-input placeholder="Nombres"></ion-input>
            </ion-item>
         </div>
      </div>
      
      <div class="login-form ion-padding">
        <div class="form-input">
           <ion-icon name="person"></ion-icon>   
           <ion-item fill="outline">
             <ion-label position="floating">Apellidos</ion-label>
             <ion-input placeholder="Apellidos"></ion-input>
           </ion-item>
        </div>
      </div>
      
      <div class="login-form ion-padding">
        <div class="form-input">
           <ion-icon name="call"></ion-icon>   
           <ion-item fill="outline">
             <ion-label position="floating">Telefono</ion-label>
             <ion-input type="tel" placeholder="888-888-8888"></ion-input>
           </ion-item>
        </div>
      </div>

      <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="mail"></ion-icon> 
          <ion-item fill="outline">
             <ion-label position="floating">Correo</ion-label>
             <ion-input type="email"placeholder="fausto155@gmail.com" ></ion-input>
          </ion-item>
        </div>
      </div>
      
      <div class="login-form ion-padding">   
        <div class="form-input">
          <ion-icon name="lock-closed"></ion-icon>  
          <ion-item fill="outline">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" value="password"></ion-input>
          </ion-item>
        </div>
      </div>
        
     <div class="action-buttons ion-padding"> 
       <ion-button size="large" color="tertiary" shape="round"class="signup-button" routerLink="/login">Registrate</ion-button>
     </div>  
    
  </div>
</ion-content>