ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
  url("https://cutewallpaper.org/cdn-cgi/mirage/2af0adefb1b7ebf6af3b94bf8b86378693ec8b55d34af727ac0cbb58dfd044f5/1280/25/animated-gif-live-wallpaper/top-10-trending-live-wallpaper-iphone-ios-on-pinterest-live-wallpaper-iphone-moving-wallpaper-iphone-live-wallpapers.gif") no-repeat center center /cover;
  --ion-text-color: black;
}

.login-section {
  height: 74vh;
  width: 100%;
  max-width: 500px;
  background: #ffffff;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  --ion-text-color: black;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  .heading{
    margin-top: 20px;
       
    h1{
      font-size: 1.6rem;
      font-weight:bolder ;
      text-align: center;
    }
      
  }
  .login-form{
    .form-input{
      position: relative;
      margin-bottom: 10px;
      ion-tem:part(native) {
           padding-left: 0;
      }
        
      ion-icon{
        position: absolute;
        top: 37px;
        z-index: 2;
        font-size: 1.3rem;
        left: 15px;
      }
      ion-label{
        position: absolute;
        margin-left: 35px;
        font-weight: bolder;
        font-size: 0.9rem;
        top: 3px;
      }
      ion-input{
        font-size: 0.9rem;
        --padding-start: 36px;
        --padding-top: 36px;
        color:#0044ff;

      }
    }
  }
  .action-buttons{
    text-align: center;
    .login-button{
      --background: #01c7f9;
      width: 70%;
      font-weight: bold;
    }
    .password{
      margin-top: 20px;
      font-size: 1rem;
      color: #5a5a5a;
      width: 100%;


    }
    .singup-button{
      -color: #fbfbfb;
      font-weight: bold;
      margin-top: 50%;
      width: 100%;
      margin-left: 50%;
      margin-bottom: 50%;

  

    }
  }
}

