<ion-content>
  <div class="login-section ion-padding">
     <div class="heading ion-padding">
       <h1>Recuperacion de Contraseña</h1>
       <p>introduce el mail con el que accedes. En unos minutos recibiras en esa misma cuenta de correo un email para realizar el cambio </p>
     </div>

     <div class="login-form ion-padding">
        <div class="form-input">
          <ion-icon name="mail"></ion-icon> 
          <ion-item fill="outline">
             <ion-label position="floating">correo</ion-label>
             <ion-input type="email" ngModel email placeholder="fausto155@gmail.com"></ion-input>
          </ion-item>
         </div>
        </div>
     <div class="action-buttons ion-padding"> 
       <ion-button shape="round" color="tertiary" size="large" class="login-button">Enviar Email</ion-button>   
       <ion-button shape="round" color="tertiary" size="large" class="login-button">Iniciar Sesion</ion-button>

     </div>  
    
  </div>
</ion-content>
