 <ion-content>
<ion-header class="ion-no-border">
</ion-header>
<ion-content padding class="background">
  <ion-col col-1>
    
  </ion-col>
  <ion-col style="text-align: justify;" col-10>
  <div class="heading" >
    <h1>Bienvenidos</h1>
    <p>Por favor Inicia Sesion o Registrate</p>
  </div>
  <div class="image">
    <img src="assets\images\Group 42.png" alt="welcome">
  </div>
</ion-col>

     <ion-row class="login-box">
       <ion-col>

        <div class="email-login">
        <ion-button color="tertiary" shape="round" fill="solid"  size=" undefined" class="singUp" routerLink="/login">Inicia Sesion</ion-button>
        </div> 

          <div class="Create-account">
            <ion-button color="tertiary" shape="round" fill="solid" size=" undefined" class="Createaccount" routerLink="/registration">Registrate</ion-button>
          </div>
  
</ion-col>
</ion-row>
</ion-content> 
</ion-content>

