<ion-header class="ion-no-border">
</ion-header>
<ion-content padding class="background">
  <div class="heading" >
    <h1>Bienvenidos</h1>
    <p>Por favor Inicia Sesion o Registrate</p>
  </div>
  <div class="image">
    <img src="assets\images\Group 42.png" alt="welcome">
  </div>
  <div class="email-login">
   <ion-button color="tertiary" shape="round" class="singUp" routerLink="/login">Inicia Sesion</ion-button>
  </div>
  <div class="Create-account">
     <ion-button color="tertiary" shape="round" class="Createaccount" routerLink="/registration">Registrate</ion-button>
  </div>
</ion-content> 
